.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 10px 20px;
  margin-bottom: 20px;

  background: #6246d9;
  color: white;

  border: none;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.2s ease;
}

.back-button:hover {
  background: #4f35bd;
  transform: translateX(-3px);
}

.back-button:active {
  transform: scale(0.97);
}

@media (max-width: 550px) {
  .back-button {
    padding: 10px 16px;
    font-size: 14px;
    margin-bottom: 16px;
  }
}