.navbar {
  background-color: #1976d2;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  color: yellow;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile View */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    background: #1976d2;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    width: 180px;
  }

  .nav-links.active {
    display: flex;
  }
}